<script type="text/javascript">
  var tb_product_id = '{{product.id}}';
 if(tb_product_id !== ''){
        var checkClass = document.querySelector('h1[class="title"]');
    if (checkClass !== null && checkClass !== undefined) {
    checkClass.classList.add('product_name');
    }
}
  if (window.location.pathname === '/pages/focus') {
    var tb_product_id = "8718338588973";
 if(tb_product_id !== ''){

     var h = document.getElementsByClassName('lh-product-title')[0];
  if (h !== null && h !== undefined) {
 h.insertAdjacentHTML('afterend', '<div class="test"></div>');
  }
  
   var checkClassExit = document.getElementsByClassName('test')[0];
   if (checkClassExit !== null && checkClassExit !== undefined) {
   	checkClassExit.className += " product-name";
   }
    var dta = document.getElementById('shopnow');
   if (dta !== null && dta !== undefined) {
     dta.insertAdjacentHTML('afterend', '<div id="targetbay_reviews"></div>');
   }
 }
  } 
    
	//if (document.getElementsByClassName("footer")[0] !== null && document.getElementsByClassName("footer")[0] !== undefined) {
		//var dtaRecomndation = document.getElementsByClassName("footer")[0];
		//dtaRecomndation.insertAdjacentHTML("beforebegin", '<div class='tb_review_carousel' data-review-id='carousel_1936'></div>');
	//}

  var tbCustomerNameCheck="{{customer.name}}";""===tbCustomerNameCheck&&(tbCustomerNameCheck="anonymous");var orderIdNew="{{order.order_number}}",tbConfig={apiStatus:"app",apiKey:"5c394e6e-3c2a-4201-82a2-3529009e2744",apiToken:"c788865c-2dbb-4875-be90-025d34d80c4d",apiUrl:"/webhooks/",apiVersion:"v1",trackingType:"1",productName:"{{product.title | escape}}",productId:"{{product.id}}",productImageUrl:"{{ product.images[0] | product_img_url: 'medium' }}",productUrl:"{{product.url}}",productPrice:"{{product.price  | money_without_currency}}",productStockStatus:"{{product.available}}",productStock:"{{product.available}}",productCollection:"{{product.collections[0]}}",collectionTitle:"{{collection.title}}",collectionId:"{{collection.id}}",collectionUrl:"{{collection.url}}",userId:"{{customer.id}}",userMail:"{{customer.email}}",userName:tbCustomerNameCheck,userAvatar:"",pageName:"{{page.title}}",pageUrl:"",pageData:"",orderId:orderIdNew,platform:"sf",tbTrack:!0,tbMessage:!1,tbAccessToken:"",tbWooBulkReview:!0,tbReview:{tbSiteReview:!0,tbProductReview:!0,tbCustomProductReview:!1,tbBulkReview:!0,tbQa:!0,tbReviewBadge:!1,tbReviewPopup:!1}};

 

</script>
<style>
  .targetbay-reviews-count-field.tb-zero-reviews {
    text-align: left !important;
}
  div#stamped-main-widget {
   //display: none !important;
}
  span.stamped-badge {
  //  display: none !important;
}
</style>