<!DOCTYPE html>
<html class="no-js no-touch" lang="{{ request.locale.iso_code }}">
<head>{% render 'pagefly-head' %}
  
  <!-- STAMPEDIO REVIEW BADGE -->
<!--  <div id="stamped-reviews-widget" data-widget-type="drawer" data-show-avatar="true" data-position="left" data-background-color="#629cd7" data-style-color-button-text="#ffffff" data-style-color-star="#ffe100" data-min-rating="5"></div>
  -->
  <!-- END STAMPEDIO REVIEW BADGE -->
  
  <!-- FB DOMAIN VERIFICATION -->
  
<meta name="facebook-domain-verification" content="mip2gj83wsqds918q168v1uxtxxmp0" />  
    <!-- END FB DOMAIN VERIFICATION -->

  
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N9MLQJS');</script>
<!-- End Google Tag Manager -->
  
  <!-- Barilliance Code -->
  
  <script src="https://cloudfront.barilliance.com/eargasm.com/cbar.js.php" async></script>

  <!-- End Barilliance Code -->
  
 {%- render 'layouthub_header' -%}
  {% include 'shop-sheriff-amp' %}
{%- render 'bold-ro-init' -%} 
 
   
  
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Preconnect Domains -->
  <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  <link rel="preconnect" href="https://fonts.shopify.com" crossorigin>
  <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

  <!-- Preload Assets -->
  <link rel="preload" href="{{ 'theme.css' | asset_url }}" as="style">
  <link rel="preload" href="{{ 'atlantic.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'plugins.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'api.jquery.js' | shopify_asset_url }}" as="script">
  <link rel="preload" href="{{ 'atlantic-icons.woff' | asset_url }}" as="font" type="font/woff" crossorigin>

  {% if template contains 'cart' %}
    <link rel="preload" href="{{ '/services/javascripts/countries.js' }}" as="script">
    <link rel="preload" href="{{ 'shopify_common.js' | shopify_asset_url }}" as="script">
    <link rel="preload" href="{{ 'jquery.cart.min.js' | asset_url }}" as="script">
  {% endif %}

  {% if template contains 'customers' %}
    <link rel="preload" href="{{ 'shopify_common.js' | shopify_asset_url }}" as="script">
    <link rel="preload" href="{{ 'customer_area.js' | shopify_asset_url }}" as="script">
  {% endif %}

  <title>
    {{- page_title -}}

    {%- if current_tags -%}
      &ndash; "{{ current_tags | join: ', ' }}"
    {%- endif -%}

    {%- if current_page != 1 -%}
      &ndash; {{ 'general.pagination.seo_title' | t }} {{ current_page }}
    {%- endif -%}

    {%- unless page_title contains shop.name -%}
      &ndash; {{ shop.name }}
    {%- endunless -%}
  </title>

  {% if page_description or shop.description != blank %}
    <meta name="description" content="{% if page_description %}{{ page_description }}{% else %}{{ shop.description }}{% endif %}">
  {% endif %}

  {% render 'favicon' %}

  {% if template contains 'collection' and current_tags %}
    <meta name="robots" content="noindex" />
    <link rel="canonical" href="{{ shop.url }}{{ collection.url }}" />
  {% else %}
    <link rel="canonical" href="{{ canonical_url }}" />
  {% endif %}


{{ content_for_header }}
{%- render 'bold-options-hybrid' -%}
{%- render 'bold-common' -%}
{% if template == 'product' and product.metafields.inventory.ShappifyHidden or product.type contains '_HIDDEN_' %}<meta name='robots' content='noindex'>{% endif %}
   {%- include 'bold-product' with product, hide_action: 'header' -%}
    


  {% assign twitter_handle = settings.social_twitter_url | split: 'twitter.com/' | last %}
  {%
    render 'social-meta-tags',
    twitter_handle: twitter_handle
  %}

  <script>
    document.documentElement.className=document.documentElement.className.replace(/\bno-js\b/,'js');
    if(window.Shopify&&window.Shopify.designMode)document.documentElement.className+=' in-theme-editor';
    if(('ontouchstart' in window)||window.DocumentTouch&&document instanceof DocumentTouch)document.documentElement.className=document.documentElement.className.replace(/\bno-touch\b/,'has-touch');
  </script>

  <!-- Theme CSS -->
  <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
    {{ 'bold-msp.css' | asset_url | stylesheet_tag }}


  <!-- Store object -->
  {% render 'theme-options' %}
  
       {% include 'bold-checkout-fix' %}

    
  <script type="text/javascript">
!function(e){if(!window.pintrk){window.pintrk=function()
{window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
n=window.pintrk;n.queue=[],n.version="3.0";var
t=document.createElement("script");t.async=!0,t.src=e;var
r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r)}}
("https://s.pinimg.com/ct/core.js");

pintrk('load','2613233500892', { em: '{{ customer.email }}', });
pintrk('page');
</script>
<noscript>
<img height="1" width="1" style="display:none;" alt=""
src="https://ct.pinterest.com/v3/?tid=2613233500892&noscript=1" />
</noscript>
    <!-- Use of this pixel is subject to the Amazon ad specs and policies at http://www.amazon.com/b/?&node=7253015011 -->
    <script type='text/javascript'>
    var _pix = document.getElementById('_pix_id_03c936c5-ceac-f059-c7e2-631898f63d78');
    if (!_pix) {
        var protocol = '//';
        var a = Math.random() * 1000000000000000000;
        _pix = document.createElement('iframe');
        _pix.style.display = 'none';
        _pix.setAttribute('src', protocol + 's.amazon-adsystem.com/iu3?d=generic&ex-fargs=%3Fid%3D03c936c5-ceac-f059-c7e2-631898f63d78%26type%3D55%26m%3D1&ex-fch=416613&ex-src=https://eargasmearplugs.com/&ex-hargs=v%3D1.0%3Bc%3D9740119910601%3Bp%3D03C936C5-CEAC-F059-C7E2-631898F63D78' + '&cb=' + a);
        _pix.setAttribute('id', '_pix_id_03c936c5-ceac-f059-c7e2-631898f63d78');
        document.body.appendChild(_pix);
    }
</script>
<noscript> 
  <img height="1" width="1" border="0" alt="" src="https://s.amazon-adsystem.com/iui3?d=forester-did&ex-fargs=%3Fid%3D03c936c5-ceac-f059-c7e2-631898f63d78%26type%3D55%26m%3D1&ex-fch=416613&ex-src=https://eargasmearplugs.com/&ex-hargs=v%3D1.0%3Bc%3D9740119910601%3Bp%3D03C936C5-CEAC-F059-C7E2-631898F63D78"/>
 </noscript>
  
  
  
  
 
{% include 'pagefly-header' %}
  
  <!-- Affirm -->
<script>
_affirm_config = {
   public_api_key:  "P7V0V2MYYXCF22HH",
   script:          "https://cdn1.affirm.com/js/v2/affirm.js"
};
(function(l,g,m,e,a,f,b){var d,c=l[m]||{},h=document.createElement(f),n=document.getElementsByTagName(f)[0],k=function(a,b,c){return function(){a[b]._.push([c,arguments])}};c[e]=k(c,e,"set");d=c[e];c[a]={};c[a]._=[];d._=[];c[a][b]=k(c,a,b);a=0;for(b="set add save post open empty reset on off trigger ready setProduct".split(" ");a<b.length;a++)d[b[a]]=k(c,e,b[a]);a=0;for(b=["get","token","url","items"];a<b.length;a++)d[b[a]]=function(){};h.async=!0;h.src=g[f];n.parentNode.insertBefore(h,n);delete g[f];d(g);l[m]=c})(window,_affirm_config,"affirm","checkout","ui","script","ready");
// Use your live public API Key and https://cdn1.affirm.com/js/v2/affirm.js script to point to Affirm production environment.
</script>
<!-- End Affirm -->
  
  
 {% include 'discount-combine' %}
  <script src="https://cdn.younet.network/main.js"></script>
  <script src="https://shopoe.net/app.js"></script>
  {{ 'shopstorm-apps.scss.css' | asset_url | stylesheet_tag }}
  {% render 'shopstorm-scripttags' %}

  
  
  
  
 </head>
<body id="{{page_title| handleize}}"
        class="
               {% if template contains 'contact' %}
               template-contact
               {% else %}
               template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}
               {% endif %}
               {% if settings.meta-font == "'Open Sans' sans-serif" %}
               font-open-sans
               {% endif %}
               {% if settings.main-title-uppercase %}
               uppercase
               {% endif %}
               product-grid-{{ settings.product_grid_aspect_ratio }}
               "
        >
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=187795038002910";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
     
     
     <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9MLQJS"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->


<body
  class="
    {% if template contains 'contact' %}
      template-contact
    {% else %}
      template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}
    {% endif %}
    {% if settings.meta-font == "'Open Sans' sans-serif" %}
      font-open-sans
    {% endif %}
    {% if settings.main-title-uppercase %}
      uppercase
    {% endif %}
    product-grid-{{ settings.product_grid_aspect_ratio }}
  "
  >
  <div id="fb-root"></div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=187795038002910";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>

  {% render 'photoswipe' %}

  {% render 'quickshop' %}
  {% comment %}Inject sidebar-drawer begin{% endcomment %}
  <div class="sidebar-drawer-container" data-sidebar-drawer-container>
    <div class="sidebar-drawer" data-sidebar-drawer tab-index="-1">
      <div class="sidebar-drawer__header-container">
        <div class="sidebar-drawer__header" data-sidebar-drawer-header></div>
  
        <button
          class="sidebar-drawer__header-close"
          aria-label="close"
          data-sidebar-drawer-close
        >
          {% render 'icon' with 'close-alt' %}
        </button>
      </div>
  
      <div class="sidebar-drawer__content" data-sidebar-drawer-content></div>
    </div>
  </div>
  {% comment %}Inject sidebar-drawer end{% endcomment %}


  {% section 'pxs-announcement-bar' %}
  {% section 'static-header' %}

  <div class="page-body-content">
    <!--LayoutHub-Workspace-Start-->{{ content_for_layout }}<!--LayoutHub-Workspace-End-->
  </div>

  {% section 'static-footer' %}

  <!-- Scripts -->
  <script
    src="{{ 'atlantic.js' | asset_url }}"
    data-scripts
    data-shopify-api-url="{{ 'api.jquery.js' | shopify_asset_url }}"
    data-shopify-countries="/services/javascripts/countries.js"
    data-shopify-common="{{ 'shopify_common.js' | shopify_asset_url }}"
    data-shopify-cart="{{ 'jquery.cart.min.js' | asset_url }}"
    data-customer-area="{{ 'customer_area.js'  | shopify_asset_url }}"
    defer>
  </script>

  <script src="{{ 'api.jquery.js' | shopify_asset_url }}" defer></script>
  <script src="{{ 'plugins.js' | asset_url }}" defer></script>

  {% if template contains 'cart' %}
    <script src="{{ '/services/javascripts/countries.js' }}" defer></script>
    <script src="{{ "shopify_common.js" | shopify_asset_url }}" defer></script>
    <script src="{{ 'jquery.cart.min.js' | asset_url }}" defer></script>
  {% endif %}

  {% if template contains 'customers' %}
    <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
    <script src="{{ 'customer_area.js'  | shopify_asset_url }}" defer></script>
  {% endif %}

  {% render 'structured-data' %}

  <script>
    (function () {
      function handleFirstTab(e) {
        if (e.keyCode === 9) { // the "I am a keyboard user" key
          document.body.classList.add('user-is-tabbing');
          window.removeEventListener('keydown', handleFirstTab);
        }
      }
      window.addEventListener('keydown', handleFirstTab);
    })();
  </script>
  
  
  
  
  <!-- userway -->

  
  
  
  
  
  <script type="text/javascript">
  var _userway_config = {
    /* uncomment the following line to override default position*/
    /* position: '1', */
    /* uncomment the following line to override default size (values: small, large)*/
     size: 'small', 
    /* uncomment the following line to override default language (e.g., fr, de, es, he, nl, etc.)*/
    /* language: 'null', */
    /* uncomment the following line to override color set via widget (e.g., #053f67)*/
     color: '#297fb7', 
    /* uncomment the following line to override type set via widget (1=person, 2=chair, 3=eye, 4=text)*/
    /* type: '1', */
    /* uncomment the following lines to override the accessibility statement*/
    /* statement_text: "Our Accessibility Statement", */
     statement_url: "https://eargasmearplugs.com/pages/accessibility", 
    /* uncomment the following line to override support on mobile devices*/
    /* mobile: true, */
    account: 'ZvysQ1bFfF'
  };
  

  /* Hide UserWay accessibility icon on init */
document.addEventListener("userway:init_completed", function(event) {
    var instance = event.detail.userWayInstance;
    instance.iconVisibilityOff();
});
  

 

</script>
<script type="text/javascript" src="https://cdn.userway.org/widget.js"> 
 UserWay.iconVisibilityOff();

</script> 
<center>
  <a href="#" onclick="return false;"><image onclick="myFunction()" src="https://cdn.shopify.com/s/files/1/1124/3298/files/Copy_of_Copy_of_Accessibility.png?v=1581991120"></image></a> </center>    
<p id="demo"></p>

<script>
function myFunction() {
  UserWay.widgetOpen();
 
document.addEventListener("userway:init_completed", function(event) {
    var instance = event.detail.userWayInstance;
   
});


}
  
    
</script> 
  
    
   
  

 





{% render 'special-offers' %}
    
    
    
    <script async type="text/javascript" data-api-key="" id="stamped-script-widget" src="https://cdn-stamped-io.azureedge.net/files/widget.min.js"></script>

  <style>
  span.stamped-product-reviews-badge span.stamped-badge-caption {
    color: #629bd7;
    font-size: 14px;
    
}
    
     div.product-inner span.stamped-product-reviews-badge span.stamped-badge-caption {
       
       color:#fff;
       vertical-align: top;
    }
    
    @media screen and (max-width: 719px) {
   div.product-inner span.stamped-product-reviews-badge span.stamped-badge-caption {
    color: #629bd7;

}
}
    
    @media screen and (max-width: 369px) {
   span.stamped-product-reviews-badge span.stamped-badge-caption {
    
    display:block;

}
}
  </style>
  
  
  
{%- render 'layouthub_footer' -%}
  
  
  

  
 {% render 'product-customizer-asw' %}

<!-- **BEGIN** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
    {% render 'hextom_qab_main', product: product, customer: customer %}
    <!-- **END** Hextom QAB Integration // Main Include - DO NOT MODIFY -->
</body>
</html>