<section class="container">
	<div id="left">
		<span class="overlay">
			<img class="hub-img" src="{{ section.settings.left_image | img_url: 'master' }}" alt="{{ section.settings.left_image.alt }}">
			<div class="column" style="">
				<h1>{{ section.settings.left_title }}</h1>
				<p>{{ section.settings.left_text }}</p>
				<a href="pages/become-an-earfluencer-eargasm-earplugs"><button class="button">Start your journey</button></a>
		</span>	
		</div>	
	</div>
	<div id="right">
		<span class="overlay">
			<img class="hub-img" src="{{ section.settings.right_image | img_url: 'master' }}" alt="{{ section.settings.right_image.alt }}">
			<div class="column">
				<h1>{{ section.settings.right_title }}</h1>
				<p>{{ section.settings.right_text }}</p>
				<a href="https://eargasm.aspireiq.com/join/earbassadors?clientId=cNA7YXY0uRIj5b6CYWLUL0WDoim2RJ9c"><button class="button">Sign up now</button></a>
			</div>
		</span>
	</div>
</section>

<style>
	.container {
		margin: auto;
		color: #fff;
	}
	#left,
	#right {
		position: relative; display: inline-block; vertical-align: top; float: left; width: 50%; text-shadow: 2px 2px 5px black;
	}
	.column {
		position: absolute; margin-left: auto; margin-right: auto;left: 0; right: 0; text-align: center; top:35%; width: 50%;
	}
	.button {
		background-color: #629bd7 ;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		border-radius: 10px;
	}
	.hub-img {
		width: 100%;
		-moz-transition: all 1s;
		-webkit-transition: all 1s;
		transition: all 1s;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
	}
	.overlay {
	display: block;
    height: 100%;
    width: 100%;
	}

	div#left:hover img,
	div#right:hover img {
		-webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
		filter: grayscale(0%);
	}


	@media only screen and (max-width: 600px) {
		#left, #right {
			position: relative;
			width: 100%;
		}
	}

</style>

{% schema %}
	{	
		"name": "Page-Hub",
		"settings": [
			{
				"type": "image_picker",
				"id": "left_image",
				"label": "Left Image"
			},
			{
				"type": "text",
				"id": "left_title",
				"label": "Left Title"
			},
			{
				"type": "richtext",
				"id": "left_text",
				"label": "Left Text"
			},
			{
				"type": "image_picker",
				"id": "right_image",
				"label": "Right Image"
			},
			{
				"type": "text",
				"id": "right_title",
				"label": "Rigth Title"
			},
			{
				"type": "richtext",
				"id": "right_text",
				"label": "Right Text"
			}
			]
		}

{% endschema %}


